:root 
{
    --light-color: rgb(243, 239, 233);
    --header-height:150px;
    --border-color:#ccc;
    --dark-color: rgb(121, 247, 121);

}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body 
{

    height: 100vh;
    width: 100vw;
    
}

header{ /*Header at very top of screen website title*/

    background: var(--light-color);
    height: var(--header-height);
    display:flex;
    align-items: center;
    justify-content: flex-end;
    text-shadow: 4px 4px 4px #aaa;
    font-family: 'Tangerine', serif;
    font-size: 45px;
    padding-right: 400px;
}

h3 /*header above search box good health is here*/
{
    align-items:center;
    display: flex;
    justify-content:flex-end;
    padding-right: 500px;
    height: 170px;
    font-size:40px;
    font-family: 'Andika', sans-serif;
    text-shadow: 4px 4px 4px #aaa;
}

.bar  /*magnifying glass logo*/
{
   height: 140px;
    width: 140px;
}

.search1
{
    display:flex;
    align-items: center;
    display:flex;
    justify-content: flex-end;
    padding-right: 200px;
    box-shadow: 0px 2px 8px 0px;

}
.search2
{
    display:flex;
    align-items: center;
    display:flex;
    justify-content: flex-end;
    padding-right: 450px;
    height: 130px;


}

.search3 /*directly edits find button*/
{
    
    display: flex;
    gap: 10px;
}

.search input[type="text"]{ /*Search box*/
    padding: 8px 10px;
    line-height: 1.5;
    font-size: 1rem;
    border:none;
    border-top: 1px solid var(--border-color);
    border-right: 1px solid transparent;
    outline:none;
    width: 395px;
    height: 45px;
    
    
}

.search input[type="text"]:focus { /*additional search box functions*/
    border-left-color: 1px solid var(--border-color);
    border-bottom-color: var(--border-color);
    width: 395px;
}

.btn /*Find button*/
{
    width: 75px;
    height: 45px;
    padding: 8px 10px;
    background:transparent;
    border-radius: 2px;
    user-select: none;
    font-size: 1rem;
    border: 2px solid rgb(145, 224, 211);
    cursor: pointer;
    background-color:aquamarine;
    box-shadow: 0px 2px 8px 0px;
}


.btn:hover 
{
    background:rgb(98, 224, 203);
}

.container
{
    text-align:center;
    height: calc(100vh - var(--header-height));
}

.recipe /*Recipe Boxes*/
{
    height: 300px;
    width: 300px;
    padding: 4px;
    box-shadow: 0px 0px 10px 4px var(--border-color);
    margin: 20px;
    transition: all 200ms ease-in-out;
    transform-origin: top-left;
}

.recipe-title
{
    height: 50px;
    display:flex;
    align-items:center;
    justify-content: center;
    font-size: 1.1rem;
    font-family: 'Sevillana', cursive;
}

.recipe-pic
{
    height:210px;
    display:block;
    justify-content: center;
    align-items: center;
}

.recipe-pic img
{
    height: 100%;
    width: 100%;
    display:block;
    justify-content: center;
    align-items: center;
}

#recipe-container
{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap:wrap;
    
}

.recipe-text
{
    height: 200px;
    visibility: hidden;
    opacity: 0;
    transition: all 200ms ease-in-out;
    /*margin-top: 20px;*/
    background: rgb(231, 225, 225);
    overflow: hidden;
    overflow-y:auto;
    transform: scale(1.0);
    font-family: 'Andika', sans-serif;
   
    

}

.recipe-text ul /*List of ingredients for each recipe*/
{
    list-style-type: circle;
    list-style-position: inside;
    text-align: left;
    padding: 5px;

}

.recipe-text ul > li 
{
    padding: 5px;
}

.recipe:hover .recipe-text{
    height: 175px;
    visibility: visible;
    opacity: 1;
   
    
}

.recipe:hover
{

    height: 445px;
}

#loading /*Loading icon after each search*/
{
    background: url(loadcolor.gif) no-repeat center center;
    position:absolute;
    width: 800%;
    height: 100%;
    z-index: 900;
    height: 200px;
    width: 1350px;
    
   
}

.load
{
    align-items: center;
    justify-content: center;
    width: 650px;
}

.hide /*Hides loading icon until you use search bar*/ {
    display: none;
}

.footer {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-item {
    border: 1px solid #fff;
    background-color: rgb(171, 248, 171);
    height: 25px;
    margin-top:1630px;
    flex: 1;
  }
  
  .footer-one,
  .footer-three {
    background-color: rgb(33, 228, 75);
    flex:initial;
    width: 270px;
    
  }

